// Outside Import
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Quicksand&family=Sofia+Sans+Extra+Condensed&display=swap');

// Colors
$cm0: #111113;
$cm1: #1c1d20;
$cm3: #1c1d20;

$cd0: #151518;

$ct0: #1310148a;

// Fonts
$font_bold: 'Bakbak One', cursive;
$font_main: 'Quicksand', sans-serif;
$font_small: 'Sofia Sans Extra Condensed', sans-serif;

// Local Import
@import "stylesheet/index.scss";
@import "stylesheet/draw.scss";
@import "stylesheet/gallery.scss";
@import "stylesheet/quick_shot.scss";

body{
    font-size: 20px;
    color: #ebebeb;
    margin: 0 !important;
    font-family: $font_main;
    background-color: $cm0;
}
a{
    color: inherit;
    text-decoration: none;
}