<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home - Gesture Drawing</title>

        <link rel="stylesheet" href="/public/css/stylesheet/main.css">

        <script src="/public/jquery.js"></script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>

<script>
    window.onload = init()
    
    function init(){
        const boards = {{{ boards }}}
        const parent = $("#content")

        for(let i = 0; i < boards.length; i++){
            const board_name = boards[i][0].toUpperCase().replace('_', ' ');
            const board_url = boards[i][0].replace(' ', '%20')
            const image = boards[i][1]

            const div = `<a href="draw/?board=${board_url}" class="block" style="background-image: url(/${image});">
                            <div class="name">${board_name}</div>
                        </a>`;
            parent.append(div);
        }
    }

</script>