<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gesture Drawing</title>

        <link rel="stylesheet" href="../public/css/stylesheet/main.css">
        
        <script src="/public/jquery.js"></script>
    </head>
    <body>
        <div id="container">
            <img alt="Image not found" id="image">
            <div id="control">
                <div id="skip" onclick="skip()">Skip</div>
                <div id="timer">
                    <div id="timer_bg"></div>
                    <div id="timer_pb"></div>
                </div>
            </div>
        </div>  
    </body>
</html>

<script>
    let time = [0, 180]
    let pause = false

    const image_set = {{{ image_set }}}
    const board_list = {{{ board_list }}}

    function roll_image(){
        const image = image_set[Math.floor(Math.random() * image_set.length)]
        $("#image").attr('src', `/public/library/${image[0]}/${image[1]}`)
        timer()
    }

    async function timer(){
        while(true){
            if(time[0] >= time[1]) break
            if(pause == false) time[0] += 1

            const width = (time[0] / time[1]) * 100
            $("#timer_pb").css('width', `${width}%`)

            await wait()
        }

        skip()
    }

    function wait(){
        return new Promise(resolve => setTimeout(resolve, 1000))
    }

    function skip(){
        location.reload()
    }

    window.onload = roll_image()

</script>