@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Quicksand&family=Sofia+Sans+Extra+Condensed&display=swap");
#content {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1600px;
  padding-bottom: 10px;
  background-color: #1c1d20;
  min-height: calc(100vh - 10px);
}

.block {
  float: left;
  display: block;
  aspect-ratio: 2;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  border-radius: 10px;
  background-size: 120%;
  background-position: center;
  width: calc(33.3333333333% - 13.3333333333px);
}

.name {
  top: 80%;
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  background-color: rgba(19, 16, 20, 0.5411764706);
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  transform: translateY(-50%);
}

#image {
  display: block;
  margin: 0 auto;
  height: calc(100vh - 50px);
}

#menu {
  width: 100%;
  height: 50px;
  overflow: auto;
  background-color: #202022;
}

#progressbar {
  float: left;
  width: 800px;
  height: 40px;
  margin: 5px calc(50% - 100px - 400px);
  border-radius: 5px;
  background-color: #121213;
}

#progressbar > #bar {
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #ffad15;
  animation-timing-function: ease;
}

.button {
  float: left;
  width: 100px;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

@keyframes animation {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
.column {
  float: left;
  margin-left: 10px;
}

.column > img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}

.column > .img {
  width: 100%;
  position: relative;
  height: calc(100vh - 20px);
  margin-top: 10px;
  border-radius: 10px;
  background-color: inherit;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.column > .img > img {
  border-radius: 10px;
  width: 100%;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

body {
  font-size: 20px;
  color: #ebebeb;
  margin: 0 !important;
  font-family: "Quicksand", sans-serif;
  background-color: #111113;
}

a {
  color: inherit;
  text-decoration: none;
}
